<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    <div class="container">
        <button type="button" class="btn btn-primary">Success</button>
    </div>


    {% block javascripts %}{% endblock %}
</body>

</html>